# Node.js
automation/node_modules/
automation/package-lock.json

# VS Code settings
.vscode/

# Playwright Trace logs and artifacts
automation/test-results/
automation/playwright-report/
# TypeScript
automation/*.tsbuildinfo

# MacOS system files
.DS_Store
